<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="30db3cf9-3bd9-44d0-b477-3f32b7c2440f"
    Publisher="CN=Example- John"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="30db3cf9-3bd9-44d0-b477-3f32b7c2440f" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>RoonyBin</DisplayName>
    <PublisherDisplayName>Example- John</PublisherDisplayName>
    <Logo>res\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="RoonyBin.App">
      <uap:VisualElements
        DisplayName="RoonyBin"
        Square150x150Logo="res\Square150x150Logo.png"
        Square44x44Logo="res\Square44x44Logo.png"
        Description="RoonyBin"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="res\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="res\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>